<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
      <p>Your request has been submitted and is been currently been processed. Once completed, your download will start automatically.</p>
    </div>
  </div>
</div>