<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
      <img src="/public/images/ECLAT_JEWELS_EMERALD_CHANDELIERS.jpg" alt="modal-image"/>
    </div>
  </div>
</div>